/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 24, 2023, 9:22:20 AM
    Author     : Acer
*/


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #2D4356;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Futura";
}

.topnav a:hover {
  background-color: #A76F6F;
}

.topnav a.active {
  background-color: white;
  color: #A76F6F;
  font
}

.topnav .icon {
  display: none;
}

@keyframes slowly-widen {
    100% {width: 100%;}
}
@keyframes slowly-fallen{
    100% {height 30%;}
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
    .active.true {
        position: relative;
    }
  .topnav.responsive {
      position: relative;
      animation: slowly-fallen 1s ease-in-out;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    
  }
  
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    animation: slowly-fallen 1s ease-in-out;
  }
}